
@media only screen and (min-width: 600px) {
  .container {
    display: flex;
    justify-content: center; /* Posisi horizontal */
    flex-direction: column; /* Elemen dalam kolom */
    width: 70%;
  }  

}
